.track-details {
  background-color: #ffffff;
  margin: 18px;
  list-style-type: none;
  padding: 14px;
  border: 1px solid white;
  box-shadow: 5px 10px 20px #888888;
}
.span-element {
  color: black;
  font-weight: bold;
}
.similar-artist-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 10px;
}
.similar-bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.similar-heading {
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .similar-bg-container {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
  }
}

.similar-artist-img {
  height: 20vh;
  width: 20vw;
  margin: 10px;
}
.audio-controls-block {
  background-color: transparent;
}
.similar-block {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  margin-right: 20px;
  margin-bottom: 10px;
}
